MARATHON_MASTER=zk://{% for host in groups['role=master'] %} {{ hostvars[host].ansible_default_ipv4.address }}:2181{% if not loop.last %},{% endif %} {% endfor %}/mesos
MARATHON_ZK=zk://{% for host in groups['role=master'] %} {{ hostvars[host].ansible_default_ipv4.address }}:2181{% if not loop.last %},{% endif %} {% endfor %}/marathon
MESOS_NATIVE_JAVA_LIBRARY=/usr/lib64/libmesos.so